body {
    background: #555;
    font-family: "Open Sans", sans-serif;
    line-height: 1.75;
    margin: 0;
    padding: 0;

    /* background: repeating-linear-gradient(90deg, red, red 50px, blue 50px, blue 100px, white 100px, white 150px, blue 150px, blue 200px); */
}

h1, h2, h3 {
    font-family: "Alfa Slab One", sans-serif;
    font-weight: normal;
    line-height: 1.2;
}

h1 {
    /* CLAMP DECIDES THE LARGEST & SMALLEST IT CAN GET */
    /* 40px IS THE SMALLEST */
    /* 100px IS THE LARGEST */
    /* 11vw IS THE IDEAL IT WILL TRY TO BE */
    font-size: clamp(40px, 11vw, 100px);
    background: linear-gradient(#fff, #aaf);
    /* background: url(img/fun-year-round.jpg);
    background-size: cover; */
    background-clip: text;

    color: transparent;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

h3 {
    font-size: 24px;
    background-color: #2fb3fe;
    color: #fff;
    padding: 0.5em;
}

/* p tag that comes directly after h3 tag */
h3 + p {
    font-style: italic;
    font-weight: 700;
    opacity: 0.5;
}

section svg * {
    stroke: currentColor;
    stroke-width: 1.2;
}

a {
    color: #2985d1;
    text-decoration: none;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background: #2E6F40cc;
    padding: 10px;
    z-index: 1;
    backdrop-filter: blur(5px) saturate(0%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px;
}

nav li a {
    background: #aaa;
    border-radius: 8px;
}

nav li a:hover {
    background: #888;
}

nav a:hover, 
nav a:focus {
    color: #97d0f2;
}

/* create a new pseudo element with the ☆ in it */
nav li a::before {
    content: "☆"
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

img {
    /* don't get bigger than 100% the size of your container */
    max-width: 100%;
}

main, footer, header {
    max-width: 900px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; */
    margin: 0 auto;
}

@media (min-width: 800px) {
    main {
        display: flex;
        gap: 1em;
        align-items: flex-start;
    }

    section {
        width: 30%;
    }
}

header {
    background: linear-gradient(45deg,#f007, #00f7),
    url(img/masthead.jpg) center / cover;

    padding: 50px 0;
    color: #fff;
    text-align: center;
}

section {
    background: #fff;
    padding: 1em;
    margin-bottom: 20px;
}

/* LAST CHILD CHOOSES THE LAST p TAG IN EACH section */
/* AFTER APPENDS A NEW PSEUDO ELEMENT AFTER EACH ANCHOR TAG */
/* CONTENT IS WHAT THE ::AFTER ELEMENT HAS INSIDE OF IT */
section p:last-child a::after {
    content: " »";
}

footer {
    color: #ccc;
    text-align: center;
    font-weight: 300;
}