img {
    /* don't get bigger than 100% the size of your container */
    max-width: 100%;
}

main, footer, header {
    max-width: 800px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; */
    margin: 0 auto;
}

header {
    /* background-image: url(img/masthead.jpg);
    background-position: center;
    background-size: cover; */
    background: url(img/masthead.jpg) center / cover;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

footer {
    color: #ccc;
    text-align: center;
}